

  <!DOCTYPE html>
  <html>


  <head>
    <title></title>
     <style>
        p {
          border-bottom: 1px solid #999;
        }
        button {
          float: left;
        }
    span {margin-left: 20px}
     </style>
       </head>
  <body>
  <h1> Check It Out! </h1>
    <h2>Remember Everywhere When You're There!

     What would you like to do?
    </h2>
    <h3> If you're a first time user:.............no logins!</h3>
   <ul>
  <% everyTrip.forEach(function(everyTrip){ %>
        <form action="CheckItOut/<%=everyTrip.id%>" method="POST">
            <button type="submit">✔️ Visited!</button>
        </form>
        <span><%= everyTrip.landmark %>: <%= everyTrip.city %> : <%=everyTrip.comment %> : <%=everyTrip.visited %></span>
      </p>
  <% }); %>
</ul>

<a href="CheckItOut/New" class="CRUDButton">Planning a New Trip</a>
<a href="CheckItOut/AlreadyVisited" class="CRUDButton">Been There, Done That</a>
  </body>
  </html>


